{{ define "content" }}
<div class="subPart">
	<h2>Leaderboard - {{ .PlayerNames | len }} players</h2>

	<table class="table table-striped table-hover">
		<thead></thead>
		<tbody>
			{{ range .PlayersSorted }}
				<tr class="member">
					<td><a href="/player/{{ .Username }}">
						<figure class="avatar avatar-xl badge" data-initial="YZ" data-badge="{{ .ContributionCount }}">
							<img src="{{ .Avatar }}" alt="YZ"/>
							{{ if .IsChallengeComplete }}
								<img src="img/medal.png" class="avatar-icon">
							{{ end }}
						</figure>
					</a></td>
					<td><a href="/player/{{ .Username }}">
						{{ .Username }}
					</a></td>
					<td><div class="bar">
						<div class="bar-item" style="width:{{ .ChallengeCompletion }}%;background:#818bd5;">
							{{ .ContributionCount }}/{{ .Objective }}
						</div>
					</div></td>
					<td>
						<!-- List of badges earned -->
						{{ $player := . }}
						{{ range .Badges }}
						{{ $nbadge := .TotalEarn $player }}
						{{ $cls := "" }}
						{{ if gt $nbadge 1 }}{{ $cls = " badge"}}{{ end }}
							<div class="popover popover-top">
								<figure class="avatar avatar-xl{{ $cls }}" data-badge="{{ $nbadge }}">
									<img src="img/badges/{{ .Short }}.png" alt="{{ .Short }}">
								</figure>
								<div class="popover-container">
									<div class="card">
										<div class="card-header">
											<div class="text-large text-bold">{{ .Title }}</div>
										</div>
										<div class="card-body">
											{{ .Description }}
										</div>
									</div>
								</div>
							</div>
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

</div>
<div class="subPart">
	<h2>How to contribute</h2>
	If you want your name to be listed, you first need to make your first contribution.
	Fork <a href="https://github.com/ourtigarage/hacktoberfest-summit">this repository</a>, update the
	<a href="https://github.com/ourtigarage/hacktoberfest-summit/blob/master/participants">participants file</a> by adding your
	GitHub username, and submit your first pull request.
	Once accepted, your name will appear in the leaderboard.<br/>
	<br/>
	Want to go further? Feel free to help us improving this app.<br/>
	Checkout <a href="https://github.com/ourtigarage/hacktoberfest-leaderboard/issues">Project issues</a><br/>
	<br/>
	Happy coding folks !!!
</div>
{{ end }}