{{ define "content" }}
<div class="subPart">
  <div class="container">
    <div class="columns">
      <div class="panel centered column col-10">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xl">
            <img src="{{ .Avatar }}" alt="Avatar">
            {{ if .IsChallengeComplete }}
              <img src="/img/medal.png" class="avatar-icon">
            {{ end }}
          </figure>
          <div class="panel-title h5 mt-10">{{ .Username }}</div>
          <div class="panel-subtitle">
            <a href="{{ .Profile }}">{{ .Profile }}</a>
          </div>
        </div>

        <div class="panel-body">
          <div class="columns">
            <div class="column col-6 col-md-12 tile centered">
              <div class="tile-content">
                <p class="tile-title text-bold">Progress</p>
              </div>
              <div class="tile tile-centered">
                <div class="tile-content">
                  <div class="bar">
                    <div class="bar-item" style="width:{{ .ChallengeCompletion }}%;background:#818bd5;">
                      {{ .ContributionCount }}/{{ .Objective }}
                    </div>
                  </div>
                </div>
                <div class="tile-icon">
                  <div class="example-tile-icon">
                    <i class="icon icon-file centered">
                       {{ if .IsChallengeComplete }}
                        <figure class="avatar avatar-xl">
                          <img src="/img/badges/hacktoberfest.png" alt="Challenge complete">
                        </figure>
                      {{ end }}
                    </i>
                  </div>
                </div>
              </div>
            </div>
            <div class="column col-2 col-md-4 col-sm-12 tile centered text-center">
              <div class="tile-content">
                <p class="tile-title text-bold">Badges</p>
              </div>
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="icon icon-file text-center">
                    <figure class="avatar avatar-xl" data-initial="{{ .Badges | len }}"></figure>
                  </i>
                </div>
              </div>
            </div>
            <div class="column col-2 col-md-4 col-sm-12 tile centered text-center">
              <div class="tile-content">
                <p class="tile-title text-bold">Repositories</p>
              </div>
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="icon icon-file text-center">
                    <figure class="avatar avatar-xl" data-initial="{{ .Repos | len }}"></figure>
                  </i>
                </div>
              </div>
            </div>
            <div class="column col-2 col-md-4 col-sm-12 tile centered text-center">
              <div class="tile-content">
                <p class="tile-title text-bold">Contributions</p>
              </div>
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="icon icon-file text-center">
                    <figure class="avatar avatar-xl" data-initial="{{ .ContributionCount }}"></figure>
                  </i>
                </div>
              </div>
            </div>
          </div>

          <div class="tile column centered">
            <div class="tile-content">
              <p class="tile-title text-bold">Badges</p>
            </div>
            <div class="columns">
              {{ $player := . }}
              {{ range .Badges }}
              {{ $nbadge := .TotalEarn $player }}
              {{ $cls := "" }}
              {{ if gt $nbadge 1 }}{{ $cls = " badge"}}{{ end }}
                <div class="column col-3 col-md-6 col-sm-12">
                  <div class="card text-left">
                    <div class="card-header">
                      <div class="card-title h5" text-left>{{ .Title }}</div>
                    </div>
                    <div class="card-image text-center">
                      <figure class="avatar avatar-xl{{ $cls }}" data-badge="{{ $nbadge }}">
                        <img src="/img/badges/{{ .Short }}.png" alt="{{ .Short }}">
                      </figure>
                    </div>
                    <div class="card-body">
                      {{ .Description }}
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>

          <div class="tile column centered">
            <div class="tile-content">
              <p class="tile-title text-bold">Repositories</p>
            </div>
            <div class="columns">
              {{ range .Repos }}
                <div class="column col-3 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title h5 text-left">{{ .Name }}</div>
                      <div class="card-title"><a href="{{ .URL }}">{{ .FullName }}</a></div>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>

          <div class="tile column centered">
            <div class="tile-content">
              <p class="tile-title text-bold">Contributions</p>
            </div>
            <div class="columns">
              {{ range .Contributions }}
                <div class="column col-3 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title h5 text-left">{{ .Title }}</div>
                      <div class="card-title"><a href="{{ .HTMLURL }}">view contribution</a></div>
                    </div>
                  </div>
                </div>
              {{ end }}

              {{ range .Invalids }}
                <div class="column col-3 col-md-6 col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title h5 text-left">{{ .Title }}</div>
                      <div class="card-title"><a href="{{ .HTMLURL }}">view contribution</a></div>
                    </div>
                    <div class="card-body text-center">
                      <figure class="avatar avatar-icon">
                        <img src="/img/badges/crap.png">
                      </figure>
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}