{{ define "content" }}
<div class="subPart">
    <h2>Available badges</h2>
    <div class="container">
        <div class="columns">
            {{ range . }}
                <div class="column col-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title h5">{{ .Title }}</div>
                        </div>
                        <div class="card-image" style="text-align: center">
                            <figure class="avatar avatar-xl">
                                <img src="/img/badges/{{ .Short }}.png" alt="{{ .Short }}">
                            </figure>
                        </div>
                        <div class="card-body">
                            {{ .Description }}
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}